# requirements.txt

aiogram==3.4.1
supabase==2.16.0
apscheduler==3.10.4
python-dotenv==1.0.1
pydantic-settings==2.2.1
certifi
aiohttp-proxy

# Новые зависимости для веб-сервиса
flask==3.0.3
gunicorn==22.0.0