# requirements.txt
# requirements.txt
aiogram==3.4.1
supabase==2.16.0
apscheduler==3.10.4
python-dotenv==1.0.1
pydantic-settings==2.2.1
certifi
aiohttp==3.9.5 # Добавляем явно

# Новые зависимости для веб-сервиса
flask==3.0.3
gunicorn==22.0.0
uvicorn==0.30.1 # <-- Добавляем эту строку
asgiref==3.8.1 # <-- Добавляем эту строку
flask==3.0.3

google-api-python-client==2.133.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
aiogram-calendar==0.2.1